[submodule "dep/wtl"]
	path = dep/wtl
	url = https://github.com/AndrewGaspar/wtl.git
[submodule "dep/km-stl"]
	path = dep/km-stl
	url = https://github.com/AndrewGaspar/km-stl.git
[submodule "dep/ktl"]
	path = dep/ktl
	url = https://github.com/AndrewGaspar/ktl.git
